
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
@await Component.InvokeAsync("_layoutHeaderComponentPartial")
<body>
	<div class="wrapper">
		@await Component.InvokeAsync("_layoutNavbarComponentPartial")
		@await Component.InvokeAsync("_layoutSidebarComponentPartial")
			<div class="main-panel">

				@RenderBody()

			@await Component.InvokeAsync("_layoutFooterComponentPartial")
			</div>
		</div>
	@await Component.InvokeAsync("_layoutScriptComponentPartial")
	
</body>
</html>